*.iml
*.jar
*.swp
*.zip
*out
*~
.DS_Store
.cljs*
.idea
.idea/
.lein*
.lein-repl-history
.nrepl-history
.nrepl-port
.nrepl-repl-history
.repl*
/.DS_Store
/classes
/core.js
/coreadvanced.js
/coresimple.js
/lib
/out
/pom.xml
/target
builds
clojure.ipr
clojure.iws
clojurescript_release_*
closure
closure-release-*
maven-classpath
maven-classpath.properties
nashorn_code_cache
nbproject/private/
node_modules
src/main/cljs/cljs/core.aot.js
src/main/cljs/cljs/core.aot.js.map
src/main/cljs/cljs/core.cljs.cache.aot.edn
src/main/cljs/cljs/core.cljs.cache.aot.json
target
